<% 
    var video_title = '';
    if (typeof lecture === 'object') {
        var lectureId = lecture.id;
    }
    var id = 0;
    var url = '';
    var order = 0;
    if (typeof videos === 'object') {
        order = videos.length;
    }
    var button = 'Create';
    var heading = 'Add a new video'
    if (typeof video === 'object') {
        var lectureId = video.lecture;
        video_title = video.title;
        id = video.id;
        url = video.url;
        order = video.order;
        button = 'Save'
        heading = 'Edit Video'
    }
%>
<form method="post" action="/video" class="form-horizontal" enctype="multipart/form-data">

    <h4 class="text-center"><%= heading %></h4>

    <!-- hidden id and lectureId -->
    <input type="hidden" name="id" value="<%= id %>">
    <input type="hidden" name="lecture" value="<%= lectureId %>">

    <!-- video_title -->
    <div class="form-group">
        <label class="control-label col-sm-2" for="title">Video title</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="lecture name" name="title" value="<%= video_title %>">
        </div>
    </div>

    <!-- order -->
    <div class="form-group">
        <label class="control-label col-sm-2" for="order">Order</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="order" name="order" value="<%= order %>">
        </div>
    </div>


    <!-- url -->
    <% if (url) { %>
        <div class="form-group">
            <label class="control-label col-sm-2" for="url"></label>
            <div class="col-sm-10 text-left">
                <a class="" id="url" href="<%= url %>" target="_blank">Preview uploaded video</a>
            </div>
        </div>
    <% } %>
    <div class="form-group">
        <label class="control-label col-sm-2" for="url">File</label>
        <div class="col-sm-10">
            <input class="form-control" type="file" id="url" name="video" value="<%= url %>">
        </div>
    </div>

    <!-- buttons -->
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            <input class="form-control btn btn-primary" type="submit" value="<%= button %>">
        </div>
    </div>
</form>
